body
{
    background: #fff;
    line-height: 1.6em;
    font: 13px 宋体,Verdana, Arial, Helvetica, sans-serif;
}
body,div,ul,label
{
 padding:0;
 margin:0;
}
input[type="text"],input[type="password"]
{
    padding: 2px;
    height: 15px;
    width: 150px;
    font-size: 12px;
    border: 1px solid #999;
}
input[type="checkbox"]
{
     cursor:pointer;
     margin:0;
}
#form_table
{
 margin:5px;
}
#form_table li.item
{
    list-style:none;
    margin: 5px 1px;
}
#form_table .form_title
{
    width: 150px;
    text-align: right;
    vertical-align:top;
}
fieldset
{
    margin: 0 0 1em 0;
    padding: 6px 0 0;
}
textarea
{
    padding: 3px;
    border: 1px solid #bdbcbc;
}

select
{
    padding: 1px;
}
label
{
 cursor:pointer;
}
.clear
{
    clear:both;
}