form.link button
{
    background: inherit;
    border: 0;
    padding: 0;
    width: auto;
    margin: -2px -3px 0; /*Remove CSS3 button properties*/
    filter: none;
    background: none;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
}
button.primaryAction, .button.primaryAction, .button.primaryAction:link, .button.primaryAction:visited
{
   
    background: #4687ad;
    border: 1px solid #405f71;
    color: #fff;
    height: 21px; /*CSS3 properties*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#4687AD',  endColorstr='#366581');
    background: -webkit-gradient(linear, left top, left bottom, from(#4687AD), to(#366581));
    background: -moz-linear-gradient(top , #4687AD, #366581);
    text-decoration:none;
}
button.remove, .remove.button, .remove.button:link, .remove.button:visited
{
    background-color: #DECCCA;
    background-image: url(images/tableHeaderBackgroundRed.gif);
    border-color: #d6c9c7;
    color: #5c3732;
}
button.remove:hover, .remove.button:hover, button.remove:active, .remove.button:active, button.remove:focus, .remove.button:focus
{
    background: #8f7c79;
    border-color: #6e5551;
    color: #faedeb;
}
button.remove:focus::-moz-focus-inner, .remove.button:focus::-moz-focus-inner
{
    border-color: #8f7c79;
}
.delete.button
{
    float: right;
}
input[type="submit"], input[type="reset"], input[type="button"], button, submit, .button, .button:link, .button:visited
{
    color: #333;
    background: #F5F5F5;
    border: 1px solid #999;
    cursor: pointer;
    padding: 1px 12px 1px 12px;
    height:21px;
    text-align: center; /*CSS3 properties*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f5f5f5',  endColorstr='#cbcbcb');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#cbcbcb));
    background: -moz-linear-gradient(top, #f5f5f5, #cbcbcb);
    box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
    -webkit-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
    -moz-box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover, .button.primaryAction:hover
{
    text-decoration: none;
    background: #ffac40;
    color: #fff;
    border: 1px solid #bb8b2d; /*CSS3 properties*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ffac40',  endColorstr='#f9760d');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffac40), to(#f9760d));
    background: -moz-linear-gradient(top, #ffac40, #f9760d);
}
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, .buton:active, .button.primaryAction:active
{
    text-decoration: none;
    background: #62a9e2;
    color: #fff;
    border: 1px solid #bb772d; /*CSS3 properties*/
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#fece3b',  endColorstr='#fe6001');
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fece3b), to(#fe6001));
    background: -moz-linear-gradient(top, #fece3b, #fe6001);
    box-shadow: inset 0px 0px 1px rgba(254, 225, 109, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
    -moz-box-shadow: inset 0px 0px 1px rgba(254, 225, 109, 1.0), 1px 1px 1px rgba(102, 102, 102, 0.3);
    -webkit-box-shadow: inset 1px 1px 1px rgba(254, 225, 109, 0.6), 1px 1px 1px rgba(102, 102, 102, 0.1);
}
input[type="submit"]:focus::-moz-focus-inner, button:focus::-moz-focus-inner, .button:focus::-moz-focus-inner
{
    border: 1px dotted transparent;
}
a.button
{
    float: right;
    margin-left: .3em;
    vertical-align:baseline;
    height:25px;
    line-height:25px;
}
