/*本文件主要用于定义元素的显示*/
body
{
    font: 13px 宋体,Verdana, Arial, Helvetica, sans-serif;
    background: #fff;
    color: #333;
}
#header
{
    background: #2D2F25;
}
#nav a, #links a:visited
{
    color: #d7d7d7;
}
#nav a:hover
{
    color: Red;
}
#nav span
{
    color: White;
}
#left
{
    background: #fff;
    border-right: 1px solid #BBB;
}
.menu
{
    list-style: none;
}
.menu a
{
    text-decoration: none;
}
.menu .first
{
    border-top: 1px solid lightgray;
}
.expand_container
{
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.menu_item li a
{
    display: block;
    line-height: 1.2em;
    color: #2D2F25;
    padding: 3px 5px;
}
.menu_item li a:hover
{
    background: #f5f5f5;
    color: #000;
    text-decoration: underline;
}
.expand_container .cssicon
{
    background: url(../image/down.gif) no-repeat left top;
}
/*菜单收缩时的样式*/
.icon_shrink
{
    background: url(../image/right.gif) no-repeat left top;
}

#right
{
    background: #fff;
    height: 400px;
}

#notice
{
    border: 1px dotted #FF6600;
    background: #FFFFCC;
}
#notice .notice_head
{
    font-size: 14px;
    font-weight: 600;
    color: Red;
}
#notice a:hover
{
    color: #a9d401;
}
.time
{
    color: #999;
    font: 12px;
}

#itemscontainer .items .item
{
    border: 1px solid #BBB;
}
#itemscontainer .items .item h3
{
    color: #484848;
    background: #f2f2f2;
    cursor: move;
}
#itemscontainer .items .item ul li
{
    line-height: 20px;
    position: relative;
    padding: 2px 0;
}
#itemscontainer .items .item ul li a
{
    vertical-align: bottom;
    text-decoration: none;
    color: #4183C4;
}
#itemscontainer .items .item ul li a:hover
{
    text-decoration: underline;
}

#topics li a
{
    background: url(../image/icon_add.gif) no-repeat 0 0;
}
#mails li.new
{
    background: #ddd;
}
#mails li span.sender
{
    line-height: 18px;
    vertical-align: middle;
    background: url(../image/mail_open.gif) no-repeat left bottom;
}
#mails li.new span.sender
{
    background: url(../image/mail_close.gif) no-repeat left bottom;
}
#stars img
{
    border: none;
}
#knowledge li a
{
    background: url(../image/file.gif) no-repeat left top;
}
.blod
{
    font-weight: bold;
}
.has_new
{
    font-weight: bold;
}
/*用户管理页面*/
h1.title
{
    color: #333;
    font-weight: 500;
    font-size: 22px;
    margin: 20px 0 20px 5px;
}
.mail td
{
    padding:2px;
    border:none;
    border-bottom:#E3E6EB solid 1px;
    
}
.mail tr:hover
{
     background-color:#efefef;
     cursor:pointer;
}
.mail_list_header th
{
    border-bottom: 1px solid #C1C8D2;
    background-color: #F2F4F6;
    padding-top: 0;
   font-weight:normal;
}
.mail_icon
{
    background: url(../image/mailbg.png) 1px -82px no-repeat;
    width: 26px;
    height: 16px;
}
.unread td
{
    font-weight:bold;
}
.u_mail_icon
{
    background: url(../image/mailbg.png) -48px 0  no-repeat;
width: 18px;
    height: 16px;
    float:left;
}
.r_mail_icon
{
    background: url(../image/mailbg.png) -48px -16px  no-repeat;
    width: 18px;
    height: 16px;
    float:left;
}
.mail_file
{
    background: url(../image/mailbg.png) -65px 0  no-repeat;
width: 12px;
    height: 16px;
    float:left;
}
.mail_important
{
    background: url(../image/mailbg.png) -48px -160px  no-repeat;
    width: 16px;
    height: 16px;
    float:left;
}
/*分页*/
div.quotes {
	padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align: center
}
div.quotes a {
	border-right: #ddd 1px solid; padding-right: 5px; border-top: #ddd 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #ddd 1px solid; color: #aaa; margin-right: 2px; padding-top: 2px; border-bottom: #ddd 1px solid; text-decoration: none
}
div.quotes a:hover {
	border-right: #a0a0a0 1px solid; padding-right: 5px; border-top: #a0a0a0 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #a0a0a0 1px solid; margin-right: 2px; padding-top: 2px; border-bottom: #a0a0a0 1px solid
}
div.quotes a:active {
	border-right: #a0a0a0 1px solid; padding-right: 5px; border-top: #a0a0a0 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #a0a0a0 1px solid; margin-right: 2px; padding-top: 2px; border-bottom: #a0a0a0 1px solid
}
div.quotes span.current {
	border-right: #e0e0e0 1px solid; padding-right: 5px; border-top: #e0e0e0 1px solid; padding-left: 5px; font-weight: bold; padding-bottom: 2px; border-left: #e0e0e0 1px solid; color: #aaa; margin-right: 2px; padding-top: 2px; border-bottom: #e0e0e0 1px solid; background-color: #f0f0f0
}
div.quotes span.disabled {
	border-right: #f3f3f3 1px solid; padding-right: 5px; border-top: #f3f3f3 1px solid; padding-left: 5px; padding-bottom: 2px; border-left: #f3f3f3 1px solid; color: #ccc; margin-right: 2px; padding-top: 2px; border-bottom: #f3f3f3 1px solid
}
